<div class="row mt-3">
    <div class="col-sm-6"><span>编号:</span><%= data.id %></div>
    <div class="col-sm-6"><span>名称:</span><%= data.name %></div>
</div>
<div class="row mt-3">
    <div class="col-sm-6"><span>型号:</span><%= data.model_name %></div>
    <div class="col-sm-6"><span>ip地址:</span><%= data.ip %></div>
</div>
<div class="row mt-3">
    <div class="col-sm-6"><span>mac地址:</span><%= data.mac %></div>
    <div class="col-sm-6"><span>归属组织机构:</span><%= data.organization_name %></div>
</div>
<div class="row mt-3">
    <div class="col-sm-6"><span>归属机房:</span><%= data.generator_room_name %></div>
    <div class="col-sm-6"><span>归属机架:</span><%= data.rack %></div>
</div>
<div class="row mt-3">
    <div class="col-sm-6"><span>归属机框:</span><%= data.frame %></div>
    <div class="col-sm-6"><span>归属局向:</span><%= data.office_direction %></div>
</div>
<div class="row mt-3">
    <div class="col-sm-6"><span>用户板数量:</span><%= data.user_board_amount %></div>
    <div class="col-sm-6"><span>用户端口数量:</span><%= data.user_port_amount %></div>
</div>
<div class="row mt-3">
    <div class="col-sm-6"><span>版本:</span><%= data.version %></div>
    <div class="col-sm-6"><span>snmp版本:</span><%= data.snmp_version %></div>
</div>
<div class="row mt-3">
    <div class="col-sm-6"><span>snmp团体:</span><%= data.snmp_community %></div>
    <div class="col-sm-6"><span>状态:</span><%= data.status %></div>
</div>
