<div class="row mt-3 bd_bottom">
    <div class="col-sm-4">
        <span>
            <%= data.process_time %>
        </span>

    </div>

    <div class="col-sm-4">
        <span>
            <%= data.org_name %>
            <!-- <%= data.operator_id %> -->
        </span>

    </div>

    <div class="col-sm-4">
        <span>
            <%= data.operator_id %>
        </span>

    </div>
    
    <div class="col-sm-12">
        <div class="col-sm-12">
            添加处理记录：
            <span>
                <%= data.process_record==null?"--":data.process_record %>

            </span>

        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-12">
            处理结果：
            <span>
                <%= data.process_result==null?"--":data.process_result %>
            </span>

        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-12">
            <span>
                <%= data.process_type %>
            </span>

        </div>
    </div>
</div>