* {
  margin: 0;
  padding: 0;
}
#warnTable,
#disposeTable {
  width: 50%;
  overflow-x: scroll;
  float: left;
}
.table_cell {
  display: block;
  width: 80px;
  height: 20px;
  float: left;
  text-align: center;
  line-height: 20px;
}
