<div class="row mt-3">
    <div class="col-sm-6">
        <span>流水号:</span>
        <%= data.id %>
    </div>
    <div class="col-sm-6">
        <span>告警标题:</span>
        <%= data.title %>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <span>首次发生时间:</span>
        <%= data.first_time %>
    </div>
    <div class="col-sm-6">
        <span>末次发生时间:</span>
        <%= data.last_time %>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <span>发生次数:</span>
        <%= data.amount %>
    </div>
    <div class="col-sm-6">
        <span>归属专业:</span>
        <%= data.major %>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <span>告警类别:</span>
        <%= data.type %>
    </div>
    <div class="col-sm-6">
        <span>告警级别:</span>
        <%= data.grade %>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <span>归属设备:</span>
        <%= data.equipment_id %>
    </div>
    <div class="col-sm-6">
        <span>归属部门:</span>
        <%= data.interface_id %>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <span>是否确认:</span>
        <%= data.confirm %>
    </div>
    <div class="col-sm-6">
        <span>状态:</span>
        <%= data.status %>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12">
        <span>告警详情:</span>
        <span>
            <%= data.detail %>
        </span>
    </div>
</div>